<table>
<tbody>
<tr>
<td><a href="http://msu.ru"><img style="width: 75px; height: 75px;" src="/main_files/msu-logo.png" alt="Московский государственный университет" title="Московский государственный университет" /></a></td>
<td><a href="http://www.dynastyfdn.com/"><img style="width: 75px; height: 75px;" src="/main_files/dynasty.png" alt="Фонд Династия" title="Фонд Династия" /></a></td>
</tr>
<tr>
<td><a href="http://samsu.ru"><img style="width: 75px; height: 75px;" src="/main_files/samgu-logo.png" alt="Самарский государственный университет" title="Самарский государственный университет" /></a></td>
<td><a href="http://poncelet.ru"><img style="width: 60px; height: 80px;" src="/main_files/Poncelet.jpg" alt="Laboratoire J.-V. Poncelet" title="Laboratoire J.-V. Poncelet" /></a></td>
</tr>
<tr>
<td align=center><a href="http://www.rfbr.ru"><img style="width: 65px; height: 65px;" src="/main_files/rffi.png" alt="Российский фонд фундаментальных исследований" title="Российский фонд фундаментальных исследований" /></a></td>
<td><a href="http://ium.mccme.ru"><img style="width: 120px; height: 50px;" src="/main_files/nmu-logo.png" alt="Независимый Московский университет" title="Независимый Московский университет" /></a></td>
</tr></tbody>
</table>
