<td class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
<a href="2014.main.shtml">О школе</a><br />
<br />
<a href="2014.lectures.shtml">Лекционные курсы</a><br />
<br />
<a href="2014.program.shtml">Программа конференции</a><br />
<br />
<!--<a href="2014.reg.php">Регистрация</a><br />
<br />-->
<a href="2014.list.php">Участники</a><br />
<br />
<a href="2014.orgs.shtml">Программный и организационный комитеты</a><br />
<br />
<a href="2014.map.shtml">Схемы проезда</a><br />
<br />
<a href="2014.photo.php">Фотографии</a><br />
<br />
<!--<br />
<a href="2012.sponsors.shtml">Организаторы и спонсоры</a><br />
<br />
-->
<a href="2014.papers.shtml">Записки лекций и
сборники тезисов</a><br />

<br />
<a href="../main.shtml">На главную</a>
</ul>
</td>
