<td class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
<a href="2012.main.shtml">О школе</a><br />
<br />
<a href="2012.lectures.shtml">Лекционные курсы</a><br />
<br />
<a href="2012.program.shtml">Программа конференции</a><br />
<br />
<a href="2012.orgs.shtml">Программный и
организационный комитеты</a><br />
<br />
<a href="2012.papers.shtml">Сборник тезисов</a><br />
<br />
<a href="2012.members.shtml">Участники</a><br />
<br />
<a href="2012.photo.php">Фотографии</a><br />
<br />
<a href="../main.shtml">На главную</a>
</ul>
</td>
