<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <li><a href="/2023">О школе</a></li>
  <li><a href="/2023/registration">Регистрация</a></li>
  <li><a href="/2023/lectures">Лекционные курсы</a></li>
<!--  <li><a href="/2023/program"><a href="Программа-школы-конференции-pdf">Программа конференции</a></a></li>
  <li><a href="/2023/papers">Сборник тезисов и материалы курсов</a></li> -->
  <li><a href="/2023/orgs">Программный и организационный комитеты</a></li>
  <li><a href="/2023/contacts">Контакты</a></li>
  <li><a href="/">На главную</a></li>
</ul>
</td>
