<table>
<tbody>
<tr>
<td><a href="http://msu.ru"><img style="width: 75px; height: 75px;" src="/main_files/msu-logo.png" alt="Московский государственный университет" title="Московский государственный университет" /></a></td>
<td><a href="http://www.dynastyfdn.com/"><img style="width: 75px; height: 75px;" src="/main_files/dynasty.png" alt="Фонд Династия" title="Фонд Династия" /></a></td>
</tr>
<tr>
<td><a href="http://samsu.ru"><img style="width: 75px; height: 75px;" src="/main_files/samgu-logo.png" alt="Самарский государственный университет" title="Самарский государственный университет" /></a></td>
<td><a href="http://www.rfbr.ru"><img style="width: 75px; height: 68px;" src="/main_files/rffi.png" alt="Российский фонд фундаментальных исследований" title="Российский фонд фундаментальных исследований" /></a></td>
</tr>
</tbody>
</table>
