<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="2015.main.shtml">О школе</a></p>
  <p><a href="2015.first.shtml">Первое извещение</a></p>
  <p><a href="2015.lectures.shtml">Лекционные курсы</a></p>
  <a href="2015.program.shtml">Программа конференции</a><br />
  <p><a href="../contacts.shtml"></a><a href="2015.members.shtml">Участники</a></p>
  <p><a href="../contacts.shtml"></a><a href="2015.orgs.shtml">Программный и организационный комитеты</a></p>
  <a href="2015.papers.shtml">Сборник тезисов
и материалы курсов</a>
<!--p><a href="../contacts.shtml"></a><a href="../contacts.shtml">Контакты</a></p-->
  <p><a href="2015.report.shtml">Видеорепортаж</a> </p>
  <p><a href="2015.photo.php">Фотографии</a></p>
  <p><a href="../main.shtml">На главную</a></p>
</ul>
</td>
