<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="/2015/">О школе</a></p>
  <p><a href="/2015/first">Первое извещение</a></p>
  <p><a href="/2015/lectures">Лекционные курсы</a></p>
  <a href="/2015/program">Программа конференции</a><br />
  <p><a href="/2015/members">Участники</a></p>
  <p><a href="/2015/orgs">Программный и организационный комитеты</a></p>
  <a href="/2015/papers">Сборник тезисов и материалы курсов</a>
  <p><a href="/2015/report">Видеорепортаж</a> </p>
  <p><a href="/2015/photo">Фотографии</a></p>
  <p><a href="/">На главную</a></p>
</ul>
</td>
