<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="2017.main.shtml">О школе</a></p>
  <!--<p><a href="2017.first.shtml">Первое извещение</a></p>-->
  <p><a href="2017.lectures.shtml">Лекционные курсы</a></p>
  <!--<a href="2017.reg.php">Регистрация</a></p>-->
  <a href="2017.program.shtml">Программа конференции</a><br />
  <p><a href="2017.list.php">Участники</a></p>
  <p><a href="2017.orgs.shtml">Программный и организационный комитеты</a></p>
  <a href="2017.papers.shtml">Сборник тезисов и материалы курсов</a>
  <!--<p><span style="color: #003333;">Образец тезисов доклада (<a href="Abstract_example.pdf">pdf</a>, <a href="Abstract_example.tex">tex</a>)</span></p>-->
  <!--p><a href="../contacts.shtml">Контакты</a></p-->
  <p><a href="2017.photo.php">Фотографии</a></p>
  <p><a href="../main.shtml">На главную</a></p>
</ul>
</td>
