<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="2018.main.shtml">О школе</a></p>
  <!--p><a href="2018.2inf.shtml">Второе информационное сообщение</a></p-->
  <!--p><a href="2018.reg.php">Регистрация</a></p-->
  <!--<p><a href="2017.first.shtml">Первое извещение</a></p>-->
  <p><a href="2018.lectures.shtml">Лекционные курсы</a></p>
  <p><a href="program.pdf">Программа школы-конференции</a></p>
  <p><a href="2018.rep.shtml">Материалы школы-конференции</a></p>
  <!--<a href="2017.reg.php">Регистрация</a></p>-->
  <p><a href="2018.orgs.shtml">Программный и организационный комитеты</a></p>
  <p><a href="2018.list.php">Зарегистрированные участники</a></p>
  <p><a href="2018.photo.shtml">Фотографии</a></p>

  <!--<p><span style="color: #003333;">Образец тезисов доклада (<a href="Abstract_example.pdf">pdf</a>, <a href="Abstract_example.tex">tex</a>)</span></p>-->
  <!--p><a href="2018.contacts.shtml">Контакты</a></p-->
  <p><a href="../main.shtml">На главную</a></p>
</ul>
</td>
