<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="/2021">О школе</a></p>
  <p><a href="/2021/Второе_информационное_письмо.pdf">Второе информационное сообщение</a></p>
  <p><a href="/2021/lectures">Лекционные курсы</a></p>
  <p><a href="/2021/Программа-школы-конференции-2021.pdf">Программа конференции</a></p>
  <a href="/2021/papers">Сборник тезисов и материалы курсов</a>
  <p><a href="/2021/orgs">Программный и организационный комитеты</a></p>
  <p><a href="/2021/list">Зарегистрированные участники</a></p>
  <p><a href="/2021/contacts">Контакты</a></p>
  <p><a href="/">На главную</a></p>
</ul>
</td>
