<tr>
<td colspan="1" rowspan="3"><img style="border: 0px solid ; width: 192px; height: 79px;" alt="Логотип школы" title="Логотип школы" src="/main_files/conf-logo.png" /></td>
<td class="conference-name" style="vertical-align: top; text-align: center;">
Школы-конференции</td>
<td colspan="1" rowspan="3">
{{partial "logos" .}}
</td>
</tr>
<tr valign="top">
<td class="conference-name" style="vertical-align: middle; text-align: center;"> Алгебры
Ли, алгебраические группы и теория инвариантов</td>
</tr>
