<table>
<tbody>
<tr>
<td><a href="http://msu.ru"><img style="width: 75px; height: 75px;" src="/main_files/msu-logo.png" alt="Московский государственный университет" title="Московский государственный университет" /></a></td>
<td><a href="http://www.dynastyfdn.com/"><img style="width: 75px; height: 75px;" src="/main_files/dynasty.png" alt="Фонд Династия" title="Фонд Династия" /></a></td>
</tr>
<tr>
<td><a href="http://ssau.ru"><img style="width: 75px; height: 75px;" src="/main_files/samu-logo.png" alt="Самарский университет" title="Самарский университет" /></a></td>
<td><a href="http://www.rfbr.ru"><img style="width: 75px; height: 75px;" src="/main_files/rffi.png" alt="Российский фонд фундаментальных исследований" title="Российский фонд фундаментальных исследований" /></a></td>
</tr>
<tr>
<td><a href="http://ium.mccme.ru"><img style="width: 75px; height: 32px;" src="/main_files/nmu-logo.png" alt="Независимый Московский университет" title="Независимый Московский университет" /></a></td>
<td><a href="http://tltsu.ru"><img style="width: 75px; height: 60px;" src="/main_files/tsu-logo.png" alt="Тольяттинский государственный университет" title="Тольяттинский государственный университет" /></a></td>
</tr>
</tbody>
</table>
