{{define "menu"}}
<td class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
    <a href="2021/2021.main.shtml.html">2021 год</a><br />
    <br />
    <a href="2020/2020.main.shtml.html">2020 год</a><br />
    <br />
    <a href="2018/2018.main.shtml.html">2018 год</a><br />
    <br />
    <a href="2017/2017.main.shtml.html">2017 год</a><br />
    <br />
    <a href="2015/2015.main.shtml.html">2015 год</a><br />
    <br />
    <a href="2014/2014.main.shtml.html">2014 год</a><br />
    <br />
    <a href="2012/2012.main.shtml.html">2012 год</a><br />
    <br />
    <a href="2011/2011.main.shtml.html">2011 год</a><br />
    <br />
    <a href="2009/2009.main.shtml.html">2009 год</a><br />
    <br />
<a href="contacts.shtml.html">Контакты</a>
</ul>
</td>
{{end}}

{{define "content"}}
<hr class="page-header-hr" /><span class="page-header">{{.Title}}</span>
<hr class="page-header-hr" /><br />
{{.Content}}
{{end}}