<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="2020.main.shtml">О школе</a></p>
  <!--p><a href="2020.2inf.shtml">Второе информационное сообщение</a></p-->
  <!--<p><a href="2020.reg.php">Регистрация</a></p>-->
  <!--<p><a href="2020.first.shtml">Первое извещение</a></p>-->
  <p><a href="2020.lectures.shtml">Лекционные курсы</a></p>
  <p><a href="2020.program.shtml">Программа конференции</a></p>
  <a href="2020.papers.shtml">Сборник тезисов и материалы курсов</a>
  <p><a href="2020.orgs.shtml">Программный и организационный комитеты</a></p>
  <p><a href="2020.list.php">Зарегистрированные участники</a></p>
  <p><a href="2020.photo.php">Фотографии</a></p>
  <!--<p><span style="color: #003333;">Образец тезисов доклада (<a href="Abstract_example.pdf">pdf</a>, <a href="Abstract_example.tex">tex</a>)</span></p>-->
  <p><a href="2020.contacts.shtml">Контакты</a></p>
  <p><a href="../main.shtml">На главную</a></p>
</ul>
</td>
