<td align="left" class="menu" style="width: 15%; vertical-align: top;">
<ul class="menu">
  <p><a href="/2020/">О школе</a></p>
  <!--p><a href="/2020/2inf">Второе информационное сообщение</a></p-->
  <!--<p><a href="/2020/reg">Регистрация</a></p>-->
  <!--<p><a href="/2020/first">Первое извещение</a></p>-->
  <p><a href="/2020/lectures">Лекционные курсы</a></p>
  <p><a href="/2020/program">Программа конференции</a></p>
  <a href="/2020/papers">Сборник тезисов и материалы курсов</a>
  <p><a href="/2020/orgs">Программный и организационный комитеты</a></p>
  <p><a href="/2020/list">Зарегистрированные участники</a></p>
  <p><a href="/2020/photo">Фотографии</a></p>
  <!--<p><span style="color: #003333;">Образец тезисов доклада (<a href="Abstract_example.pdf">pdf</a>, <a href="Abstract_example.tex">tex</a>)</span></p>-->
  <p><a href="/2020/contacts">Контакты</a></p>
  <p><a href="/">На главную</a></p>
</ul>
</td>
